# Blizzard API Credentials
# Obtenez vos credentials sur https://develop.battle.net/access/clients
BLIZZARD_CLIENT_ID=88e37f80cb444c4998abddb5728f3861
BLIZZARD_CLIENT_SECRET=FXQaApcyFbEk45Viv64eiL4AINgwaqxl
